*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body{
    font-family: 'Poppins', sans-serif;
    background: #0b2545;
} */
 .header-content{
    background: #035f94;
    height: 100vh;
 }